<div class="container">
  <div class="row" id="header">
    <div class="col-lg-3">
      <%= image_tag 'time-logo.png', class: 'img-responsive' %>
    </div>

    <div class="col-lg-9">
      <h2 class="text-right">2014</h2>
    </div>
  </div>

<div class="row">  <div class="col-md-12">
    <%= render '/refinery/content_page' %>
  </div></div>
</div>
</div>